<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="JonlilCKFinderBundle Test Suite">
            <directory>Tests/Integration</directory>
        </testsuite>
    </testsuites>

</phpunit>
